*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
}
.header{
    background-color: dodgerblue;
    border-radius: 50px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding: 35px;
    color: aliceblue;
}
.info-container{
    background-color: dodgerblue;
    text-align:start;
    color: aliceblue;
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    top:10px
}
.about-1{
    text-indent: 25px;
}
.about-2{
    text-indent: 25px;
}
.about-3{
    text-indent: 25px;
}
strong{
    font-weight: 700;
    font-size: larger;
}
